<div class="container py-5">

    <h2 class="mb-4">
        Shopping Cart
    </h2>

    <div
        class="card mb-3"
        *ngFor="let item of cartItems">

        <div class="card-body">

            <div class="row align-items-center">

                <div class="col-md-4">

                    <h5>{{item.productName}}</h5>

                </div>

                <div class="col-md-2">

                    ₹ {{item.price}}

                </div>

                <div class="col-md-3">

                    <button
                        class="btn btn-outline-secondary btn-sm"
                        (click)="decrease(item)">
                        -
                    </button>

                    <span class="mx-3">
                        {{item.quantity}}
                    </span>

                    <button
                        class="btn btn-outline-secondary btn-sm"
                        (click)="increase(item)">
                        +
                    </button>

                </div>

                <div class="col-md-2 fw-bold">

                    ₹ {{item.total}}

                </div>

                <div class="col-md-1">

                    <button
                        class="btn btn-danger btn-sm"
                        (click)="remove(item)">
                        ×
                    </button>

                </div>

            </div>

        </div>

    </div>

    <div class="card mt-4">

        <div class="card-body">

            <h4>
                Grand Total

                <span class="float-end">
                    ₹ {{total}}
                </span>

            </h4>

        </div>

    </div>
<div class="text-end mt-4">
  <a
    routerLink="/checkout"
    class="btn btn-success btn-lg">
    Proceed to Checkout
  </a>
</div>
</div>