<div class="container py-4">

    <div class="card shadow">

        <div class="card-header bg-dark text-white">

            <h4 class="mb-0">

                {{ isEdit ? 'Edit Product' : 'Add Product' }}

            </h4>

        </div>

        <div class="card-body">

            <form
                [formGroup]="form"
                (ngSubmit)="save()">

                <div class="row">

                    <div class="col-md-6 mb-3">

                        <label class="form-label">

                            Product Name

                        </label>

                        <input
                            class="form-control"
                            formControlName="name">

                    </div>

                    <div class="col-md-6 mb-3">

                        <label class="form-label">

                            SKU

                        </label>

                        <input
                            class="form-control"
                            formControlName="sku">

                    </div>

                    <div class="col-md-6 mb-3">

                        <label class="form-label">

                            Category

                        </label>

                        <select
                            class="form-select"
                            formControlName="categoryId">

                            <option value="0">

                                Select Category

                            </option>

                            <option
                                *ngFor="let c of categories"
                                [value]="c.id">

                                {{ c.name }}

                            </option>

                        </select>

                    </div>

                    <div class="col-md-6 mb-3">

                        <label class="form-label">

                            Brand

                        </label>

                        <input
                            class="form-control"
                            formControlName="brandName">

                    </div>
<hr>

<div *ngIf="isEdit">

    <h4 class="mb-3">

        Product Images

    </h4>

    <div class="row mb-3">

        <div class="col-md-8">

            <input
                type="file"
                class="form-control"
                (change)="onFileSelected($event)">

        </div>

        <div class="col-md-4">

            <button
                class="btn btn-success w-100"
                type="button"
                (click)="uploadImage()">

                Upload Image

            </button>

        </div>

    </div>

    <div class="row">

        <div
            class="col-md-3 mb-3"
            *ngFor="let image of images">

            <div class="card">

                <img
                    class="card-img-top"
                    [src]="apiUrl + image.imageUrl"
                    style="height:200px;object-fit:cover;">

                <div class="card-body text-center">

                    <button
                        class="btn btn-danger btn-sm"
                        (click)="deleteImage(image.id)">

                        Delete

                    </button>

                </div>

            </div>

        </div>

    </div>

</div>
                    <div class="col-12 mb-3">

                        <label class="form-label">

                            Description

                        </label>

                        <textarea
                            rows="4"
                            class="form-control"
                            formControlName="description">

                        </textarea>

                    </div>

                    <div class="col-md-4 mb-3">

                        <label class="form-label">

                            Price

                        </label>

                        <input
                            type="number"
                            class="form-control"
                            formControlName="price">

                    </div>

                    <div class="col-md-4 mb-3">

                        <label class="form-label">

                            Discount Price

                        </label>

                        <input
                            type="number"
                            class="form-control"
                            formControlName="discountPrice">

                    </div>

                    <div class="col-md-4 mb-3">

                        <label class="form-label">

                            Stock Quantity

                        </label>

                        <input
                            type="number"
                            class="form-control"
                            formControlName="stockQuantity">

                    </div>

                    <div class="col-md-4 mb-3">

                        <label class="form-label">

                            Color

                        </label>

                        <input
                            class="form-control"
                            formControlName="color">

                    </div>

                    <div class="col-md-4 mb-3">

                        <label class="form-label">

                            Compatibility

                        </label>

                        <input
                            class="form-control"
                            formControlName="compatibility">

                    </div>

                    <div class="col-md-4 mb-3">

                        <label class="form-label">

                            Warranty (Months)

                        </label>

                        <input
                            type="number"
                            class="form-control"
                            formControlName="warrantyMonths">

                    </div>

                    <div class="col-md-6 mb-3">

                        <label class="form-label">

                            Weight

                        </label>

                        <input
                            type="number"
                            class="form-control"
                            formControlName="weight">

                    </div>
                                        <div class="col-md-3 mb-3">

                        <div class="form-check mt-4">

                            <input
                                class="form-check-input"
                                type="checkbox"
                                formControlName="isFeatured"
                                id="featured">

                            <label
                                class="form-check-label"
                                for="featured">

                                Featured Product

                            </label>

                        </div>

                    </div>

                    <div class="col-md-3 mb-3">

                        <div class="form-check mt-4">

                            <input
                                class="form-check-input"
                                type="checkbox"
                                formControlName="isActive"
                                id="active">

                            <label
                                class="form-check-label"
                                for="active">

                                Active

                            </label>

                        </div>

                    </div>

                </div>

                <hr>

                <div class="d-flex justify-content-end">

                    <button
                        type="button"
                        class="btn btn-secondary me-2"
                        routerLink="/admin/products">

                        Cancel

                    </button>

                    <button
                        type="submit"
                        class="btn btn-primary">

                        {{ isEdit ? 'Update Product' : 'Create Product' }}

                    </button>

                </div>

            </form>

        </div>

    </div>

</div>
