.card{
    border:none;
    border-radius:12px;
}

.card-header{
    border-top-left-radius:12px;
    border-top-right-radius:12px;
}

.form-control,
.form-select{
    border-radius:8px;
}

textarea{
    resize:none;
}

.btn{
    border-radius:8px;
}

.form-check{
    padding-top:8px;
}
.card img{

    border-top-left-radius:8px;

    border-top-right-radius:8px;

}