.category-card{

    background:#fff;

    border-radius:20px;

    padding:30px 20px;

    text-align:center;

    cursor:pointer;

    transition:.3s;

    border:1px solid #ececec;

    box-shadow:0 8px 20px rgba(0,0,0,.06);

}

.category-card:hover{

    transform:translateY(-8px);

    box-shadow:0 20px 40px rgba(0,0,0,.15);

}

.category-image{

    width:90px;

    height:90px;

    object-fit:contain;

}

.category-icon{

    font-size:72px;

    color:#0d6efd;

}

.category-card h4{

    font-weight:700;

}

.category-card button{

    transition:.3s;

}

.category-card:hover button{

    background:#0d6efd;

    color:#fff;

}