.header {
    height: 70px;
    background: #fff;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e7eb;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header h3 {
    margin: 0;
    font-size: 22px;
}

.menu-btn {
    display: none;
    border: none;
    background: transparent;
    font-size: 28px;
    cursor: pointer;
}

.admin-user {
    font-size: 18px;
    font-weight: 500;
}

@media (max-width:768px) {

    .menu-btn {
        display: block;
    }

    .header h3 {
        font-size: 18px;
    }
}
