/* You can add global styles to this file, and also import other style files */
@import "bootstrap-icons/font/bootstrap-icons.css";
html,
body{
    height:100%;
    margin:0;
    font-family:Roboto,Arial,sans-serif;
    background:#f8f9fa;
}

*{
    box-sizing:border-box;
}

a{
    text-decoration:none;
}

img{
    max-width:100%;
}